body {
    font-family: 'Roboto Condensed', sans-serif;
}
.form-input {
    width: 100%;
    font-size: 40px;
}

h1 {
    font-weight: normal;
    font-size: 60px;
}

h2 {
    font-weight: normal;
    font-size: 30px;
}