body {
    background-color: #d7e5ef;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 30px;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
}

h1 {
    font-weight: normal;
}

h2 {
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 0;
}

h3 {
    font-weight: normal;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.logo {
    display: flex;
    height: 40px;
    align-items: center;
    margin-bottom: 40px;
}

.logo p {
    padding-left: 7px;
    font-size: 19px;
    color: #a80c2f;
}

.user-data {
    margin: 0 0 10px 0;
    height: 50px;
    font-size: 30px;
}

.boxes {
    opacity: 0;
    transition: opacity 0.4s linear;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 15px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    width: 80%;
    max-height: 88%;
    border-radius: 10px;
}

.modal-heading {
    display: flex;
    height: 25px;
    align-items: center;
    margin-bottom: 20px;
}

.modal-heading p {
    padding-left: 10px;
    font-size: 30px;
}

.modal-heading img {
    height: 20px;
}

.text-input {
    width: 80%;
    height: 30px;
    border-radius: 10px;
    border: solid 0px;
    margin-top: 10px;
    padding-left: 5px;
    background-color: #f6f6f6;
}

.save-btn {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: solid 0;
    margin-top: 10px;
    padding-left: 5px;
    background-color: #d7e5ef;
    font-size: 16px;
    margin-top: 30px;
    color: #000000;
}

.datareset {
    color: #d62246;
}

.wide-box {
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box1 {
    margin: 10px 0 10px 0;
    max-width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box2 {
    margin: 10px 0 10px 0;
    max-width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    font-size: 17px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box3 {
    margin: 10px 0 10px 0;
    max-width: 100%;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box4 {
    margin: 10px 0 10px 0;
    max-width: 100%;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.wrapper {
    max-width: 100%;
    overflow: hidden;
}

.left {
    width: 48.5%;
    float: left;
}

.right {
    width: 48.5%;
    float: right;
}

/*@media only screen and (min-width: 600px) {
    body {
        padding: 50px;
    }
    .logo {
        height: 75px;
    }
    .logo p {
        font-size: 30px;
        padding-left: 10px;
    }
    .boxes {
        width: 450px;
    }
}*/


